@model MoarSportz.Models.LoadEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LoadEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.AspNetUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.AspNetUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Load)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Load)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerceivedExertionRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerceivedExertionRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
